@font-face {
    font-family: 'Abel';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/abel/v12/MwQ5bhbm2POE2V9BPQ.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }

  body, html {
    min-height: 135% !important;
    background-image: linear-gradient(180deg, #171717, #171717) !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    background-size:cover !important; 
	  background-position:center !important;    }
 
    
  .center {
    position: absolute;
    margin-top: 600px;
    left: 30%;
    transform: translate(-50%, -50%);
    animation-name: ShowFromTop;
    animation-duration: 2s;
  }
  
  .card {
    width: 450px;
    height: 200px;
    background-color: #fff;
    box-shadow: 0 8px 16px -8px rgba(0,0,0,0.4);
    border-radius: 6px;
    overflow: hidden;
    position: relative;
    margin: 1.5rem;
    font-family: 'abel';
    margin-left: 8%;
  }
  
  .card h1 {
    text-align: center;
    margin-top: 10px;
  }
  
  .card .additional {
    position: absolute;
    width: 120px;
    height: 100%;
    transition: width 0.4s;
    overflow: hidden;
    z-index: 2;
  }
  
  
  
  .card:hover .additional {
    width: 100%;
    border-radius: 0 5px 5px 0;
    visibility: visible;
  }
  
    .card .additional .more-info{
        visibility: hidden;
        margin-left:-70px
    }
    .card:hover .additional .more-info{
        visibility: visible;
    }
  .card .additional .user-card {
    width: 150px;
    height: 100%;
    position: relative;
    float: left;
  }
  
  .card .additional .user-card::after {
    content: "";
    display: block;
    position: absolute;
    top: 10%;
    right: -2px;
    height: 80%;
  }
  
  .card .additional .user-card .level,
  .card .additional .user-card .points {
    top: 15%;
    color: #fff;
    text-transform: uppercase;
    font-size: 0.75em;
    font-weight: bold;
    background: rgba(0,0,0,0.15);
    padding: 0.125rem 0.75rem;
    border-radius: 100px;
    white-space: nowrap;
  }
  
  .card .additional .user-card .points {
    top: 85%;
  }
  
  .card .additional .user-card svg {
    top: 50%;
  }
  
  .card .additional .more-info {
    width: 300px;
    float: left;
    position: absolute;
    left: 150px;
    height: 100%;
  }
  
  .card .additional .more-info h1 {
    color: #fff;
    margin-bottom: 0;
  }
  
  .card.green .additional .more-info h1 {
    color: #224C36;
  }
  
  .card .additional .coords {
    margin: 0 1rem;
    color: #fff;
    font-size: 1rem;
    visibility: hidden;

  }

  .card:hover .additional .coords{
    visibility: visible;
}

  
  .card.green .additional .coords {
    color: #325C46;
  }
  
  .card .additional .coords span + span {
    float: right;
  }
  
  .card .additional .stats {
    font-size: 2rem;
    display: flex;
    position: absolute;
    bottom: 1rem;
    left: 1rem;
    right: 1rem;
    top: auto;
    color: #fff;
  }
  
  .card.green .additional .stats {
    color: #325C46;
  }
  
  .card .additional .stats > div {
    flex: 1;
    text-align: center;
  }
  
  .card .additional .stats i {
    display: block;
  }
  
  .card .additional .stats div.title {
    font-size: 0.75rem;
    font-weight: bold;
    text-transform: uppercase;
  }
  
  .card .additional .stats div.value {
    font-size: 1.5rem;
    font-weight: bold;
    line-height: 1.5rem;
  }
  
  .card .additional .stats div.value.infinity {
    font-size: 2.5rem;
  }
  
  .card .general {
    width: 300px;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    box-sizing: border-box;
    padding: 1rem;
    padding-top: 0;
  }
  
  .card .general .more {
    position: absolute;
    bottom: 1rem;
    right: 1rem;
    font-size: 0.9em;
  }
  
  .icon-container{
    margin-right: 85px;
    margin-top: 15px;
  }  
  .mat-icon{
      font-size: 25px;
  }
  .mat-icon:hover{
    font-size: 30px;
  }
  .icon{
    margin-left: 5px;
    float: right;  
    position: relative;
    background: white; 
    border: none;
    outline:none;
    cursor:pointer;
    -moz-border-radius: 30px;
    -webkit-border-radius: 30px;
    border-radius: 30px;
    color: black;
  }
  .icon:hover{
    transform: translateY(-3px);
  }
  .decoding-icon{
    width: 9px;
    height: 10px;
    font-size: 0;
    margin-right: 18px;
    background-color: #32CD32;
    border: 0;
    border-radius: 35px;
    outline: none;
    animation-name: pulse;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    font-weight: 20px;
  }
  @keyframes pulse{
    0%{
      box-shadow: 0px 0px 5px 0px #19A719;
    }
    65%{
      box-shadow: 0px 0px 5px 15px rgba(38, 186, 38, 0.897);
    }
    90%{
      box-shadow: 0px 0px 5px 15px #19A719;
    }
  }
  .title-design{
    font-size: clamp(1.2rem,calc(1rem + 3.5vw),1.5rem);
    text-shadow: 0 1px 1px rgb(0 0 0 / 50%);
    color: rgba(255, 255, 255, 0.658);

  }
  .banner-icon{
    width: 90px;
    height: 25px;
    border-radius: 20px;
    color: white;
    text-align: center;
    font-size: 15px;
    background-color: black;
    border: white 2px solid;
    float: left;
    margin-top: 15px;
    margin-left: 15px;
  }
  .banner-icon p{
    margin-left: 20px;
    font-family: 'Abel';
  }
  .banner-icon .decoding-icon{
    float: left;
    margin-top: -26px;
    margin-left: 15px;
  }
 @keyframes ShowFromTop {
  from {margin-top: 0px;}
  to {margin-top: 600px;}
 }