#topnavFrame {
  background: #212121;  
  overflow-x: hidden;
  position: fixed;
  width: 100%;
  z-index: 2;
  font-family: 'Questrial', sans-serif;


}
#topnavFrame img{
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 10px 16px;
  text-decoration: none;
  font-size: 22px;
}
#topnavFrame mat-icon, button{
  float: left;
  margin-top: 7px;
  margin-left: 5px;
  color: white;
}
#topnavFrame button :hover{
  opacity: 0.8;
  transform: translateY(-2px);
}
#topnavFrame a :active{
  opacity: 0.8;
  border-bottom: white 1px solid;
  transform: translateY(-2px);
  color: red;
  
}
#topnavFramee a {
 margin-top: 10px;
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 18px;
  text-decoration: none;
  font-size: 17px;
  position: relative;
}
#topnavFrame h1{
  margin-top: 12px;
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 5px 10px;
  text-decoration: none;
  font-size: 17px;
  position: relative;
  font-family: 'Questrial', sans-serif;

}
 a:hover {
  opacity: 0.6;
  border-bottom: black solid 2px;
  background-color: rgba(255, 255, 255, 0.329);
 }
 a:focus{
  opacity: 0.6;
  border-bottom: white solid 2px;
 }

 #topnavFrame p {
  margin-top: 8px;
   float: right;
   color: #f2f2f2;
   text-align: center;
   padding: 14px 16px;
   text-decoration: none;
   font-size: 17px;
 }
#hour{
  margin-top: 8px;
  float: right;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

