.chart-container{
    margin-top: 500px;
}
#divChart{
    display: block;
    width: 800px;
    height: 400px;
    background-color: #FFFCF7;
    display: block;
    margin-top: 25px;
    border: solid 2px black;
    margin-left: 22%;
    padding: 40px;
    box-shadow: 0 0 20px rgba(0,0,0,0.4);
}


body{
    background-color: #A1B5D8;
    -webkit-tap-highlight-color: rgba(255,255,255,0);
    min-height: 200%;

}
.cards-data{
    float: left;
    background-color: rgba(255, 255, 255, 0.87);
    margin: 25px;
    margin-left: 130px;
    width: 300px;
    height: 270px;
    border: solid 1px black;

}
.card{
    background: #1F2124;
  box-shadow: 0 0 20px rgba(0,0,0,0.4);
  border-radius: 5px;
  margin: 50px 20px 20px 20px;
  width: calc(33.3333% - 40px); /* 1/3 minus the margins (20+20) */
  padding: 20px;
  text-align: center;
  color: rgba(255, 255, 255, 0.842);
  float: left;
  width: 250px;
  height: 120px;
  margin-left: 145px;
  @media (max-width: 768px) {
    margin: 10px 20px;
    width: calc(100% - 40px);
    &:first-child {
      margin-top: 20px;
    }
  }
}
.secondRowCards{
    margin-left: 200px;
}
mat-icon{
    font-size: 35px;
    margin-left: -5px;
}